@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:regular,600,800,900&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #313131;
  line-height: 1;
  font-family: "Nunito Sans";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Nunito Sans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.menu-open body {
  background: rgba(49, 49, 49, 0.5058823529);
  opacity: 0.8;
  border-radius: 0px;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 95.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=__container_wide] {
  max-width: 109.6875rem;
  padding: 0 32px;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-weight: 900;
  line-height: 0.9886363636;
}

@supports (font-size: clamp( 3.125rem , 1.9516932271rem  +  1.8924302789vw , 5.5rem )) {
  .title {
    font-size: clamp( 3.125rem , 1.9516932271rem  +  1.8924302789vw , 5.5rem );
  }
}

@supports not (font-size: clamp( 3.125rem , 1.9516932271rem  +  1.8924302789vw , 5.5rem )) {
  .title {
    font-size: calc(3.125rem + 2.375 * (100vw - 62rem) / 125.5);
  }
}

.button {
  background-color: #ffffff;
  font-weight: 800;
  line-height: 1.375;
  display: inline-block;
  padding: 24px 128px;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

@supports (font-size: clamp( 1.5rem , 1.5rem  +  0vw , 1.5rem )) {
  .button {
    font-size: clamp( 1.5rem , 1.5rem  +  0vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.5rem , 1.5rem  +  0vw , 1.5rem )) {
  .button {
    font-size: calc(1.5rem + 0 * (100vw - 20rem) / 77);
  }
}

.subtitle {
  font-weight: 800;
  line-height: 1.3541666667;
}

@supports (font-size: clamp( 1.5rem , -0.0278514589rem  +  3.1830238727vw , 3rem )) {
  .subtitle {
    font-size: clamp( 1.5rem , -0.0278514589rem  +  3.1830238727vw , 3rem );
  }
}

@supports not (font-size: clamp( 1.5rem , -0.0278514589rem  +  3.1830238727vw , 3rem )) {
  .subtitle {
    font-size: calc(1.5rem + 1.5 * (100vw - 48rem) / 47.125);
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
}

@supports (height: clamp( 4rem , 1.7082228117rem  +  4.774535809vw , 6.25rem )) {
  .header {
    height: clamp( 4rem , 1.7082228117rem  +  4.774535809vw , 6.25rem );
  }
}

@supports not (height: clamp( 4rem , 1.7082228117rem  +  4.774535809vw , 6.25rem )) {
  .header {
    height: calc(4rem + 2.25 * (100vw - 48rem) / 47.125);
  }
}

.header__inner {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

@supports (padding-top: clamp( 1.125rem , 0.8703580902rem  +  0.5305039788vw , 1.375rem )) {
  .header__body {
    padding-top: clamp( 1.125rem , 0.8703580902rem  +  0.5305039788vw , 1.375rem );
  }
}

@supports not (padding-top: clamp( 1.125rem , 0.8703580902rem  +  0.5305039788vw , 1.375rem )) {
  .header__body {
    padding-top: calc(1.125rem + 0.25 * (100vw - 48rem) / 47.125);
  }
}

@supports (padding-bottom: clamp( 1.125rem , 0.8703580902rem  +  0.5305039788vw , 1.375rem )) {
  .header__body {
    padding-bottom: clamp( 1.125rem , 0.8703580902rem  +  0.5305039788vw , 1.375rem );
  }
}

@supports not (padding-bottom: clamp( 1.125rem , 0.8703580902rem  +  0.5305039788vw , 1.375rem )) {
  .header__body {
    padding-bottom: calc(1.125rem + 0.25 * (100vw - 48rem) / 47.125);
  }
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 7px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports ((-moz-column-gap: clamp( 0.625rem , -1.2848143236rem  +  3.9787798408vw , 2.5rem )) or (column-gap: clamp( 0.625rem , -1.2848143236rem  +  3.9787798408vw , 2.5rem ))) {
  .menu__list {
    -webkit-column-gap: clamp( 0.625rem , -1.2848143236rem  +  3.9787798408vw , 2.5rem );
       -moz-column-gap: clamp( 0.625rem , -1.2848143236rem  +  3.9787798408vw , 2.5rem );
            column-gap: clamp( 0.625rem , -1.2848143236rem  +  3.9787798408vw , 2.5rem );
  }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , -1.2848143236rem  +  3.9787798408vw , 2.5rem )) or (column-gap: clamp( 0.625rem , -1.2848143236rem  +  3.9787798408vw , 2.5rem ))) {
  .menu__list {
    -webkit-column-gap: calc(0.625rem + 1.875 * (100vw - 48rem) / 47.125);
       -moz-column-gap: calc(0.625rem + 1.875 * (100vw - 48rem) / 47.125);
            column-gap: calc(0.625rem + 1.875 * (100vw - 48rem) / 47.125);
  }
}

.menu__link {
  font-family: "Nunito Sans";
  line-height: 1.375;
  color: #ffffff;
}

@supports (font-size: clamp( 0.875rem , 0.8425324675rem  +  0.1623376623vw , 1rem )) {
  .menu__link {
    font-size: clamp( 0.875rem , 0.8425324675rem  +  0.1623376623vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.8425324675rem  +  0.1623376623vw , 1rem )) {
  .menu__link {
    font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 77);
  }
}

.logo {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.3 ease 0s;
  -o-transition: opacity 0.3 ease 0s;
  transition: opacity 0.3 ease 0s;
}

.menu-open .logo {
  visibility: hidden;
  opacity: 0;
}

.info-header__link:not(:last-child) {
  margin-bottom: 4px;
}

.info-header__mail {
  line-height: 1.3571428571;
  color: #313131;
}

@supports (font-size: clamp( 0.875rem , 0.7557251908rem  +  0.5089058524vw , 1rem )) {
  .info-header__mail {
    font-size: clamp( 0.875rem , 0.7557251908rem  +  0.5089058524vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.7557251908rem  +  0.5089058524vw , 1rem )) {
  .info-header__mail {
    font-size: calc(0.875rem + 0.125 * (100vw - 23.4375rem) / 24.5625);
  }
}

.callback {
  font-weight: 800;
  line-height: 1.375;
  text-align: right;
  color: #272584;
}

@supports (font-size: clamp( 0.875rem , 0.8425324675rem  +  0.1623376623vw , 1rem )) {
  .callback {
    font-size: clamp( 0.875rem , 0.8425324675rem  +  0.1623376623vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.8425324675rem  +  0.1623376623vw , 1rem )) {
  .callback {
    font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 77);
  }
}

.adress {
  font-size: 0.75rem;
  line-height: 1.3333333333;
  text-align: right;
  color: #000000;
}

.icon-menu {
  display: none;
}

.footer {
  border-top: 1px solid rgba(49, 49, 49, 0.199);
}

@supports (padding-top: clamp( 3rem , 3rem  +  0vw , 3rem )) {
  .footer {
    padding-top: clamp( 3rem , 3rem  +  0vw , 3rem );
  }
}

@supports not (padding-top: clamp( 3rem , 3rem  +  0vw , 3rem )) {
  .footer {
    padding-top: calc(3rem + 0 * (100vw - 20rem) / 77);
  }
}

@supports (padding-bottom: clamp( 4rem , 4rem  +  0vw , 4rem )) {
  .footer {
    padding-bottom: clamp( 4rem , 4rem  +  0vw , 4rem );
  }
}

@supports not (padding-bottom: clamp( 4rem , 4rem  +  0vw , 4rem )) {
  .footer {
    padding-bottom: calc(4rem + 0 * (100vw - 20rem) / 77);
  }
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

.item-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
}

.item-footer__link {
  line-height: 1.375;
}

@supports (font-size: clamp( 1rem , 1rem  +  0vw , 1rem )) {
  .item-footer__link {
    font-size: clamp( 1rem , 1rem  +  0vw , 1rem );
  }
}

@supports not (font-size: clamp( 1rem , 1rem  +  0vw , 1rem )) {
  .item-footer__link {
    font-size: calc(1rem + 0 * (100vw - 20rem) / 77);
  }
}

.item-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
}

.headline {
  font-weight: 700;
  line-height: 1.375;
}

@supports (font-size: clamp( 1rem , 1rem  +  0vw , 1rem )) {
  .headline {
    font-size: clamp( 1rem , 1rem  +  0vw , 1rem );
  }
}

@supports not (font-size: clamp( 1rem , 1rem  +  0vw , 1rem )) {
  .headline {
    font-size: calc(1rem + 0 * (100vw - 20rem) / 77);
  }
}

.info__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.info__image {
  position: relative;
  padding-bottom: 52%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.no-webp .info__image::after{
  background: url("../img/mainpage/info/icon.png") 0 0 no-repeat; }

.info__image::after {
  content: "";
  position: absolute;
  bottom: 42px;
  width: 157px;
  height: 117px;
}

@supports (left: clamp( 0.0000000625rem , -0.9090908304rem  +  4.5454544643vw , 3.5rem )) {
  .info__image::after {
    left: clamp( 0.0000000625rem , -0.9090908304rem  +  4.5454544643vw , 3.5rem );
  }
}

@supports not (left: clamp( 0.0000000625rem , -0.9090908304rem  +  4.5454544643vw , 3.5rem )) {
  .info__image::after {
    left: calc(0.0000000625rem + 3.4999999375 * (100vw - 20rem) / 77);
  }
}

.info__image img {
  max-width: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-info {
  position: relative;
}

.content-info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

@supports (margin-bottom: clamp( 0.5rem , 0.1103896104rem  +  1.9480519481vw , 2rem )) {
  .content-info__title {
    margin-bottom: clamp( 0.5rem , 0.1103896104rem  +  1.9480519481vw , 2rem );
  }
}

@supports not (margin-bottom: clamp( 0.5rem , 0.1103896104rem  +  1.9480519481vw , 2rem )) {
  .content-info__title {
    margin-bottom: calc(0.5rem + 1.5 * (100vw - 20rem) / 77);
  }
}

.content-info__body {
  position: relative;
  padding-top: 290px;
  padding-bottom: 220px;
}

@supports (padding-left: clamp( 0.0000000625rem , -1.0416665625rem  +  2.1701388021vw , 1.5625rem )) {
  .content-info__body {
    padding-left: clamp( 0.0000000625rem , -1.0416665625rem  +  2.1701388021vw , 1.5625rem );
  }
}

@supports not (padding-left: clamp( 0.0000000625rem , -1.0416665625rem  +  2.1701388021vw , 1.5625rem )) {
  .content-info__body {
    padding-left: calc(0.0000000625rem + 1.5624999375 * (100vw - 48rem) / 72);
  }
}

.content-info__text {
  font-weight: 800;
  line-height: 1.375;
}

@supports (font-size: clamp( 0.875rem , 0.6755319149rem  +  0.8510638298vw , 1.5rem )) {
  .content-info__text {
    font-size: clamp( 0.875rem , 0.6755319149rem  +  0.8510638298vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.6755319149rem  +  0.8510638298vw , 1.5rem )) {
  .content-info__text {
    font-size: calc(0.875rem + 0.625 * (100vw - 23.4375rem) / 73.4375);
  }
}

@supports (margin-bottom: clamp( 2rem , 1.6103896104rem  +  1.9480519481vw , 3.5rem )) {
  .content-info__text:not(:last-child) {
    margin-bottom: clamp( 2rem , 1.6103896104rem  +  1.9480519481vw , 3.5rem );
  }
}

@supports not (margin-bottom: clamp( 2rem , 1.6103896104rem  +  1.9480519481vw , 3.5rem )) {
  .content-info__text:not(:last-child) {
    margin-bottom: calc(2rem + 1.5 * (100vw - 20rem) / 77);
  }
}

.content-info__image img {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

@supports (padding-top: clamp( 5rem , 5rem  +  0vw , 5rem )) {
  .experience {
    padding-top: clamp( 5rem , 5rem  +  0vw , 5rem );
  }
}

@supports not (padding-top: clamp( 5rem , 5rem  +  0vw , 5rem )) {
  .experience {
    padding-top: calc(5rem + 0 * (100vw - 20rem) / 77);
  }
}

@supports (padding-bottom: clamp( 5rem , 5rem  +  0vw , 5rem )) {
  .experience {
    padding-bottom: clamp( 5rem , 5rem  +  0vw , 5rem );
  }
}

@supports not (padding-bottom: clamp( 5rem , 5rem  +  0vw , 5rem )) {
  .experience {
    padding-bottom: calc(5rem + 0 * (100vw - 20rem) / 77);
  }
}

.experience__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports (margin-bottom: clamp( 1rem , 0.4927344782rem  +  1.0568031704vw , 1.5rem )) {
  .experience__subtitle {
    margin-bottom: clamp( 1rem , 0.4927344782rem  +  1.0568031704vw , 1.5rem );
  }
}

@supports not (margin-bottom: clamp( 1rem , 0.4927344782rem  +  1.0568031704vw , 1.5rem )) {
  .experience__subtitle {
    margin-bottom: calc(1rem + 0.5 * (100vw - 48rem) / 47.3125);
  }
}

.experience__content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.experience__content > p:not(:last-child) {
  margin-bottom: 16px;
}

@supports (padding-right: clamp( 2.5rem , -5.2357992074rem  +  16.1162483487vw , 10.125rem )) {
  .experience__content {
    padding-right: clamp( 2.5rem , -5.2357992074rem  +  16.1162483487vw , 10.125rem );
  }
}

@supports not (padding-right: clamp( 2.5rem , -5.2357992074rem  +  16.1162483487vw , 10.125rem )) {
  .experience__content {
    padding-right: calc(2.5rem + 7.625 * (100vw - 48rem) / 47.3125);
  }
}

.experience__text {
  line-height: 1.5;
}

@supports (font-size: clamp( 1rem , 0.7544757033rem  +  0.5115089514vw , 1.25rem )) {
  .experience__text {
    font-size: clamp( 1rem , 0.7544757033rem  +  0.5115089514vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.7544757033rem  +  0.5115089514vw , 1.25rem )) {
  .experience__text {
    font-size: calc(1rem + 0.25 * (100vw - 48rem) / 48.875);
  }
}

.experience__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  padding-bottom: 41%;
}

.experience__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@supports (margin-bottom: clamp( 2.5rem , 2.5rem  +  0vw , 2.5rem )) {
  .categories__subtitle {
    margin-bottom: clamp( 2.5rem , 2.5rem  +  0vw , 2.5rem );
  }
}

@supports not (margin-bottom: clamp( 2.5rem , 2.5rem  +  0vw , 2.5rem )) {
  .categories__subtitle {
    margin-bottom: calc(2.5rem + 0 * (100vw - 20rem) / 77);
  }
}

.categories__subtitle-last:not(:last-child) {
  margin-bottom: 24px;
}

.categories .categories__body {
  background: #f3f3f3;
  border-radius: 16px;
}

@supports (padding-top: clamp( 2rem , -5.0857142857rem  +  11.4285714286vw , 6rem )) {
  .categories .categories__body {
    padding-top: clamp( 2rem , -5.0857142857rem  +  11.4285714286vw , 6rem );
  }
}

@supports not (padding-top: clamp( 2rem , -5.0857142857rem  +  11.4285714286vw , 6rem )) {
  .categories .categories__body {
    padding-top: calc(2rem + 4 * (100vw - 62rem) / 35);
  }
}

@supports (padding-bottom: clamp( 2rem , -5.0857142857rem  +  11.4285714286vw , 6rem )) {
  .categories .categories__body {
    padding-bottom: clamp( 2rem , -5.0857142857rem  +  11.4285714286vw , 6rem );
  }
}

@supports not (padding-bottom: clamp( 2rem , -5.0857142857rem  +  11.4285714286vw , 6rem )) {
  .categories .categories__body {
    padding-bottom: calc(2rem + 4 * (100vw - 62rem) / 35);
  }
}

@supports (padding-left: clamp( 1rem , -4.3142857143rem  +  8.5714285714vw , 4rem )) {
  .categories .categories__body {
    padding-left: clamp( 1rem , -4.3142857143rem  +  8.5714285714vw , 4rem );
  }
}

@supports not (padding-left: clamp( 1rem , -4.3142857143rem  +  8.5714285714vw , 4rem )) {
  .categories .categories__body {
    padding-left: calc(1rem + 3 * (100vw - 62rem) / 35);
  }
}

@supports (padding-right: clamp( 1rem , -4.3142857143rem  +  8.5714285714vw , 4rem )) {
  .categories .categories__body {
    padding-right: clamp( 1rem , -4.3142857143rem  +  8.5714285714vw , 4rem );
  }
}

@supports not (padding-right: clamp( 1rem , -4.3142857143rem  +  8.5714285714vw , 4rem )) {
  .categories .categories__body {
    padding-right: calc(1rem + 3 * (100vw - 62rem) / 35);
  }
}

.categories .categories__body:not(:last-child) {
  margin-bottom: 24px;
}

.categories__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports ((-moz-column-gap: clamp( 1.875rem , -4.4064258912rem  +  10.1313320826vw , 5.25rem )) or (column-gap: clamp( 1.875rem , -4.4064258912rem  +  10.1313320826vw , 5.25rem ))) {
  .categories__item {
    -webkit-column-gap: clamp( 1.875rem , -4.4064258912rem  +  10.1313320826vw , 5.25rem );
       -moz-column-gap: clamp( 1.875rem , -4.4064258912rem  +  10.1313320826vw , 5.25rem );
            column-gap: clamp( 1.875rem , -4.4064258912rem  +  10.1313320826vw , 5.25rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.875rem , -4.4064258912rem  +  10.1313320826vw , 5.25rem )) or (column-gap: clamp( 1.875rem , -4.4064258912rem  +  10.1313320826vw , 5.25rem ))) {
  .categories__item {
    -webkit-column-gap: calc(1.875rem + 3.375 * (100vw - 62rem) / 33.3125);
       -moz-column-gap: calc(1.875rem + 3.375 * (100vw - 62rem) / 33.3125);
            column-gap: calc(1.875rem + 3.375 * (100vw - 62rem) / 33.3125);
  }
}

.categories__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  row-gap: 32px;
}

.categories__inner {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.categories__list {
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
}

.categories__list:not(:last-child) {
  margin-bottom: 16px;
}

@supports (font-size: clamp( 1rem , 0.7551020408rem  +  0.5102040816vw , 1.25rem )) {
  .categories__list {
    font-size: clamp( 1rem , 0.7551020408rem  +  0.5102040816vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.7551020408rem  +  0.5102040816vw , 1.25rem )) {
  .categories__list {
    font-size: calc(1rem + 0.25 * (100vw - 48rem) / 49);
  }
}

.categories__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 582px;
          flex: 1 1 582px;
  position: relative;
  padding-bottom: 37%;
  overflow: hidden;
  border-radius: 16px;
}

.categories__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.arrow {
  display: inline-block;
  background-color: #ffab00;
  opacity: 0.8;
  border-radius: 88px;
  position: relative;
  overflow: hidden;
}

@supports (width: clamp( 4.375rem , 3.0600649351rem  +  6.5746753247vw , 9.4375rem )) {
  .arrow {
    width: clamp( 4.375rem , 3.0600649351rem  +  6.5746753247vw , 9.4375rem );
  }
}

@supports not (width: clamp( 4.375rem , 3.0600649351rem  +  6.5746753247vw , 9.4375rem )) {
  .arrow {
    width: calc(4.375rem + 5.0625 * (100vw - 20rem) / 77);
  }
}

@supports (height: clamp( 4.375rem , 3.9529220779rem  +  2.1103896104vw , 6rem )) {
  .arrow {
    height: clamp( 4.375rem , 3.9529220779rem  +  2.1103896104vw , 6rem );
  }
}

@supports not (height: clamp( 4.375rem , 3.9529220779rem  +  2.1103896104vw , 6rem )) {
  .arrow {
    height: calc(4.375rem + 1.625 * (100vw - 20rem) / 77);
  }
}

.arrow::after {
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  width: 24px;
  height: 20px;
  background: url("../img/mainpage/info/arrow.svg") 0 0 no-repeat;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.arrow::before {
  content: "";
  top: 50%;
  left: -50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  width: 24px;
  height: 20px;
  background: url("../img/mainpage/info/arrow.svg") 0 0 no-repeat;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

@-webkit-keyframes move-after {
}

@keyframes move-after {
}

@supports (padding-top: clamp( 2.5rem , 1.8506493506rem  +  3.2467532468vw , 5rem )) {
  .equipment {
    padding-top: clamp( 2.5rem , 1.8506493506rem  +  3.2467532468vw , 5rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.8506493506rem  +  3.2467532468vw , 5rem )) {
  .equipment {
    padding-top: calc(2.5rem + 2.5 * (100vw - 20rem) / 77);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 1.8506493506rem  +  3.2467532468vw , 5rem )) {
  .equipment {
    padding-bottom: clamp( 2.5rem , 1.8506493506rem  +  3.2467532468vw , 5rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.8506493506rem  +  3.2467532468vw , 5rem )) {
  .equipment {
    padding-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 77);
  }
}

@supports (padding-left: clamp( 0.9375rem , -1.3451948481rem  +  4.7556142668vw , 3.1875rem )) {
  .equipment__slider {
    padding-left: clamp( 0.9375rem , -1.3451948481rem  +  4.7556142668vw , 3.1875rem );
  }
}

@supports not (padding-left: clamp( 0.9375rem , -1.3451948481rem  +  4.7556142668vw , 3.1875rem )) {
  .equipment__slider {
    padding-left: calc(0.9375rem + 2.25 * (100vw - 48rem) / 47.3125);
  }
}

.equipment__subtitle {
  margin-bottom: 40px;
}

.slide-equipment {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 480px;
          flex: 0 1 480px;
}

.slide-equipment__label:not(:last-child) {
  margin-bottom: 8px;
}

.slide-equipment__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.slide-equipment__image {
  position: relative;
  padding-bottom: 66%;
}

.slide-equipment__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slide-equipment__image:not(:last-child) {
  margin-bottom: 16px;
}

.slide-equipment__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.slide-equipment__content:not(:last-child) {
  margin-bottom: 40px;
}

.slide-equipment__text {
  font-size: 0.875rem;
  line-height: 1.3571428571;
}

.slide-equipment__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}

.label {
  font-weight: 800;
  line-height: 1.375;
}

@supports (font-size: clamp( 1.5rem , 1.5rem  +  0vw , 1.5rem )) {
  .label {
    font-size: clamp( 1.5rem , 1.5rem  +  0vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.5rem , 1.5rem  +  0vw , 1.5rem )) {
  .label {
    font-size: calc(1.5rem + 0 * (100vw - 20rem) / 77);
  }
}

.buy {
  padding: 16px 72px;
  background-color: #ffab00;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.375;
  border: 1px solid transparent;
}

.more {
  padding: 16px 72px;
  border: 1px solid #272584;
  background-color: #fff;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.375;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: stretch !important;
      -ms-flex-align: stretch !important;
          align-items: stretch !important;
}

@supports (padding-top: clamp( 2.5rem , 1.8506493506rem  +  3.2467532468vw , 5rem )) {
  .our-clients {
    padding-top: clamp( 2.5rem , 1.8506493506rem  +  3.2467532468vw , 5rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.8506493506rem  +  3.2467532468vw , 5rem )) {
  .our-clients {
    padding-top: calc(2.5rem + 2.5 * (100vw - 20rem) / 77);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 1.2012987013rem  +  6.4935064935vw , 7.5rem )) {
  .our-clients {
    padding-bottom: clamp( 2.5rem , 1.2012987013rem  +  6.4935064935vw , 7.5rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.2012987013rem  +  6.4935064935vw , 7.5rem )) {
  .our-clients {
    padding-bottom: calc(2.5rem + 5 * (100vw - 20rem) / 77);
  }
}

.our-clients__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -16px;
  row-gap: 8px;
}

.our-clients__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 29.99875em) {
  .content-info__text {
    max-width: 460px;
  }
}

@media (min-width: 47.99875em) {
  .header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .header__menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .info-header__link {
    text-align: right;
  }

  .info-header__mail {
    display: none;
  }
}

@media (min-width: 59.6875em) {
  .categories__inner {
    padding-top: 54px;
  }
}

@media (min-width: 61.99875em) {
  .header__item {
    padding-left: 19px;
  }

  .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .info__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .content-info__body {
    width: 50%;
  }
}

@media (min-width: 109.6875em) {
  [class*=__container_wide] {
    margin-left: auto;
  }
}

@media (max-width: 48em) {
  .categories__list {
    font-size: inherit;
  }
}

@media (max-width: 109.6875em) {
  [class*=__container_wide] {
    max-width: 95.125rem;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    margin: 0 auto;
    padding: 0 0.9375rem;
  }
}

@media (max-width: 61.99875em) {
@supports (font-size: clamp( 2.5rem , 1.5883306321rem  +  3.8897893031vw , 4rem )) {
    .title {
      font-size: clamp( 2.5rem , 1.5883306321rem  +  3.8897893031vw , 4rem );
    }
}

@supports not (font-size: clamp( 2.5rem , 1.5883306321rem  +  3.8897893031vw , 4rem )) {
    .title {
      font-size: calc(2.5rem + 1.5 * (100vw - 23.4375rem) / 38.5625);
    }
}

  .button {
    padding: 12px 64px;
  }

  .info__image {
    display: none;
  }

  .content-info__image img {
    width: 100%;
  }
}

@media (max-width: 59.6875em) {
  .experience__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 24px;
  }

  .experience__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 600px;
            flex: 0 1 600px;
  }

  .categories__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 32px;
  }

  .categories__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 400px;
            flex: 0 1 400px;
  }
}

@media (max-width: 47.99875em) {
  .header__body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .header__info {
    text-align: left;
  }

@supports (row-gap: clamp( 1rem , 0.5229007634rem  +  2.0356234097vw , 1.5rem )) {
    .header__info {
      row-gap: clamp( 1rem , 0.5229007634rem  +  2.0356234097vw , 1.5rem );
    }
}

@supports not (row-gap: clamp( 1rem , 0.5229007634rem  +  2.0356234097vw , 1.5rem )) {
    .header__info {
      row-gap: calc(1rem + 0.5 * (100vw - 23.4375rem) / 24.5625);
    }
}

  .menu__body {
    position: fixed;
    top: 0;
    right: -100%;
    width: 81.25%;
    height: 100%;
    -webkit-transition: right 0.3s ease 0s;
    -o-transition: right 0.3s ease 0s;
    transition: right 0.3s ease 0s;
    overflow: auto;
    padding-bottom: 1.875rem;
    border-radius: 24px 0px 0px 24px;
  }

@supports (padding-top: clamp( 5rem , 3.5687022901rem  +  6.106870229vw , 6.5rem )) {
    .menu__body {
      padding-top: clamp( 5rem , 3.5687022901rem  +  6.106870229vw , 6.5rem );
    }
}

@supports not (padding-top: clamp( 5rem , 3.5687022901rem  +  6.106870229vw , 6.5rem )) {
    .menu__body {
      padding-top: calc(5rem + 1.5 * (100vw - 23.4375rem) / 24.5625);
    }
}

@supports (padding-right: clamp( 0.5rem , -5.3444656489rem  +  24.9363867684vw , 6.625rem )) {
    .menu__body {
      padding-right: clamp( 0.5rem , -5.3444656489rem  +  24.9363867684vw , 6.625rem );
    }
}

@supports not (padding-right: clamp( 0.5rem , -5.3444656489rem  +  24.9363867684vw , 6.625rem )) {
    .menu__body {
      padding-right: calc(0.5rem + 6.125 * (100vw - 23.4375rem) / 24.5625);
    }
}

@supports (padding-left: clamp( 0.5rem , -1.4083969466rem  +  8.1424936387vw , 2.5rem )) {
    .menu__body {
      padding-left: clamp( 0.5rem , -1.4083969466rem  +  8.1424936387vw , 2.5rem );
    }
}

@supports not (padding-left: clamp( 0.5rem , -1.4083969466rem  +  8.1424936387vw , 2.5rem )) {
    .menu__body {
      padding-left: calc(0.5rem + 2 * (100vw - 23.4375rem) / 24.5625);
    }
}

  .menu-open .menu__body {
    background-color: #fff !important;
    opacity: 1 !important;
  }

  .menu__body::before {
    content: "";
    top: 0;
    position: fixed;
    width: 81.25%;
    background-color: #fff;
    right: -100%;
    -webkit-transition: right 0.3s ease 0s;
    -o-transition: right 0.3s ease 0s;
    transition: right 0.3s ease 0s;
    border-radius: 24px 0px 0px 24px;
  }

@supports (min-height: clamp( 3.125rem , 1.8100649351rem  +  6.5746753247vw , 8.1875rem )) {
    .menu__body::before {
      min-height: clamp( 3.125rem , 1.8100649351rem  +  6.5746753247vw , 8.1875rem );
    }
}

@supports not (min-height: clamp( 3.125rem , 1.8100649351rem  +  6.5746753247vw , 8.1875rem )) {
    .menu__body::before {
      min-height: calc(3.125rem + 5.0625 * (100vw - 20rem) / 77);
    }
}

  .menu-open .menu__body {
    right: 0;
  }

  .menu-open .menu__body::before {
    right: 0;
  }

@supports (margin-bottom: clamp( 2.5rem , 2.1103896104rem  +  1.9480519481vw , 4rem )) {
    .menu__list {
      margin-bottom: clamp( 2.5rem , 2.1103896104rem  +  1.9480519481vw , 4rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 2.1103896104rem  +  1.9480519481vw , 4rem )) {
    .menu__list {
      margin-bottom: calc(2.5rem + 1.5 * (100vw - 20rem) / 77);
    }
}

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

@supports (row-gap: clamp( 1.5rem , 0.5458015267rem  +  4.0712468193vw , 2.5rem )) {
    .menu__list {
      row-gap: clamp( 1.5rem , 0.5458015267rem  +  4.0712468193vw , 2.5rem );
    }
}

@supports not (row-gap: clamp( 1.5rem , 0.5458015267rem  +  4.0712468193vw , 2.5rem )) {
    .menu__list {
      row-gap: calc(1.5rem + 1 * (100vw - 23.4375rem) / 24.5625);
    }
}

  .menu__link {
    font-family: "Nunito Sans";
    font-weight: 700;
    line-height: 1.375;
    color: #313131;
  }

@supports (font-size: clamp( 1.25rem , 1.0114503817rem  +  1.0178117048vw , 1.5rem )) {
    .menu__link {
      font-size: clamp( 1.25rem , 1.0114503817rem  +  1.0178117048vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.0114503817rem  +  1.0178117048vw , 1.5rem )) {
    .menu__link {
      font-size: calc(1.25rem + 0.25 * (100vw - 23.4375rem) / 24.5625);
    }
}

  .logo__image {
    width: 68px;
    height: 32px;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .callback {
    font-weight: 700;
    line-height: 1.375;
    color: #313131;
  }

@supports (font-size: clamp( 1.25rem , 1.0114503817rem  +  1.0178117048vw , 1.5rem )) {
    .callback {
      font-size: clamp( 1.25rem , 1.0114503817rem  +  1.0178117048vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.0114503817rem  +  1.0178117048vw , 1.5rem )) {
    .callback {
      font-size: calc(1.25rem + 0.25 * (100vw - 23.4375rem) / 24.5625);
    }
}

  .adress {
    text-align: left;
  }

@supports (font-size: clamp( 0.875rem , 0.7557251908rem  +  0.5089058524vw , 1rem )) {
    .adress {
      font-size: clamp( 0.875rem , 0.7557251908rem  +  0.5089058524vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7557251908rem  +  0.5089058524vw , 1rem )) {
    .adress {
      font-size: calc(0.875rem + 0.125 * (100vw - 23.4375rem) / 24.5625);
    }
}

  .icon-menu {
    display: block;
    position: relative;
    width: 2rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .no-webp .content-info__body::after{
    background: url("../img/mainpage/info/icon.png") 0 0 no-repeat; }

  .content-info__body::after {
    content: "";
    position: absolute;
    bottom: 42px;
    width: 157px;
    height: 117px;
  }

@supports (left: clamp( 0.0000000625rem , -0.9090908304rem  +  4.5454544643vw , 3.5rem )) {
    .content-info__body::after {
      left: clamp( 0.0000000625rem , -0.9090908304rem  +  4.5454544643vw , 3.5rem );
    }
}

@supports not (left: clamp( 0.0000000625rem , -0.9090908304rem  +  4.5454544643vw , 3.5rem )) {
    .content-info__body::after {
      left: calc(0.0000000625rem + 3.4999999375 * (100vw - 20rem) / 77);
    }
}

  .content-info__body {
    padding-top: 224px;
  }

  .experience__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 400px;
            flex: 0 1 400px;
  }

  .slide-equipment__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 8px;
  }

  .buy {
    width: 100%;
    text-align: center;
  }

  .more {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 47.99875em) and (max-width: 23.4375em) {
  .menu__body {
    width: 100%;
    border-radius: 0;
  }

  .menu__body::before {
    width: 100%;
    border-radius: 0px;
  }
}

@media (max-width: 29.99875em) {
  .slide-equipment {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 297px;
            flex: 0 1 297px;
  }
}

@media (max-width: 23.4375em) {
  .title {
    font-size: 2.1875rem;
  }
}

@media (any-hover: hover) {
  .button:hover {
    border-bottom: 4px solid #313131;
  }

  .arrow:hover::after {
    content: "";
    left: 150%;
  }

  .arrow:hover::before {
    content: "";
    left: 50%;
  }
}

.webp .info__image::after{ background: url(../img/mainpage/info/icon.webp) 0 0 no-repeat; }

@media (max-width: 47.99875em){

  .webp .content-info__body::after{ background: url(../img/mainpage/info/icon.webp) 0 0 no-repeat; }
}